/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  font-size: small;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 14px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 10px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: row;
}

.item {
  flex: 1;
  margin: 10px;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;

  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 600px) {
  body{
    font-size: unset;
  }

  header {
    background-color: #ff385c;
    text-align: left;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    font-family: "Pangolin", cursive;
    font-size: 40px;
    color: #fff;
    padding: 10px 0 0 0;
  }

  header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px 0 0;
    font-size: 20px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
    text-decoration: none;
  }
  /*forms-for-desktop*/
  form {
    border: 2px solid #ff385c;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .form-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  form label {
    font-weight: bold;
    display: flex;
  }

  form select,
  form input {
    margin-bottom: 20px;
    display: flex;
    width: 100%;
  }

  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%;
  }
  /*About-for-desktop*/

  .group1 {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .img1 {
    width: 24.5%;
    margin: 0 1% 0 0;
  }

  .item1 {
    flex: 2;
    align-self: center;
  }

  /*Ideas-for-Desktop*/
  .group2 {
    display: flex;
    flex-direction: row;

  }
  .item2 {
    flex: 1;
    margin: 5px;
  }

  /*Host-for-Desktop*/
  .item3 {
    flex: 1;
    align-self: center;
    justify-content: center;
  }
}